<div class="page-wrapper">
  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <app-car-category></app-car-category>
  </aside>
  <!-- END MENU SIDEBAR-->

  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header
      class="header-desktop"
      style="margin-top: 55px; background-color: rgb(175, 175, 175)"
    >
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <app-search></app-search>

            <app-cart-status></app-cart-status>
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- END HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <br />
    <br />
    <div class="main-content" style="background-color: white">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="row d-flex justify-content-center">
            <div *ngFor="let tempCars of cars" class="">
              <div class="card-deck d-flex p-3" style="width: 450px">
                <div class="card">
                  <img
                    class="card-img-top"
                    src="{{ tempCars.imageUrl }}"
                    alt="Card image cap"
                  />
                  <hr />
                  <div class="card-body">
                    <h5 class="card-title">
                      <a routerLink="/products/{{tempCars.id  }}">
                        {{ tempCars.name }}
                      </a>
                    </h5>
                    <p class="card-text">
                      {{ tempCars.description.substring(0, 150) }}...
                    </p>
                    <hr />
                    <div class="price">
                      {{ tempCars.currentPrice | currency: "EUR" }}
                    </div>
                  </div>
                  <div class="card-footer">
                    <button
                      (click)="addToCart(tempCars)"
                      class="btn btn-primary btn-sm"
                    >
                      Add to cart
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- if products empty then display a message-->
            <div
              *ngIf="cars?.length == 0"
              class="alert alert-warning col-md-12"
              role="alert"
            >
              No products found.
            </div>
          </div>

          <br />
          <br />
          <!-- begin footer -->
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <ngb-pagination
                [(page)]="thePageNumber"
                [pageSize]="thePageSize"
                [collectionSize]="theTotalElements"
                [maxSize]="3"
                [boundaryLinks]="true"
                (pageChange)="handleListCars()"
              >
              </ngb-pagination>
            </ul>
          </nav>
          <div style="text-align: right">
            <span class="mr-2">Page Size</span>

            <select (change)="updatePageSize($event.target.value)">
              <option selected="true">10</option>
              <option>20</option>
              <option>50</option>
            </select>
          </div>
          <br />
          <!-- end footer -->
        </div>
      </div>
    </div>
  </div>
</div>
