<div class="menu-sidebar-content" style="margin-top: 80px">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar-list">
        
        <!-- <li>  
            <a routerLink="/category/1" routerLinkActive="active-link">Mercedes</a>
        </li>

        <li>  
            <a routerLink="/category/2" routerLinkActive="active-link">Opel</a>
        </li>

        <li>  
            <a routerLink="/category/3" routerLinkActive="active-link">Audi</a>
        </li> -->
        
        <li *ngFor="let temp of carCategory">
          <a
            routerLink="/category/{{ temp.id }}"
            routerLinkActive="active-link"
          >
            {{ temp.categoryName }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
  